<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">font-family: 'Open Sans',
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 200px;
}

/* header styles */
.header-section {
    border: 2px solid orange;
    width: 1170px;
    height: 500px;
    margin-left: 150px;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;



}

.header-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    /* padding: 24px; */
    width: 596px;
    height: 80px;
    padding-top: 60px;
    padding-left: 240px;
    padding-bottom: 2px;


}

.header-text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
    padding-top:2px;

}

.header-section input {
    width: 180px;
    height: 30px;
    margin-bottom: 122px;
    border-radius: 8px;
    background: #FFF;
}
.btn-header{
    width: 174px;
    height: 52px;
    border-radius: 8px;
background: #FF5400;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-right {
    width: 500px;
    height: 40px;
    margin-right: 8%;
    margin-top: 60px;

}

ul>li {
    list-style: none;

}

ul {
    display: flex;
    gap: 20px;
}

.nav-left {
    width: 300px;
    height: 60;
    margin-left: 10%;
    display: flex;
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    /* align-items: center;
    justify-content: center; */
}

.nav-left .btn-nav {
    font-size: 36px;
    font-weight: 800;
    color: #FF5400;
}



/* Our popular tours */
.tour-section {
    border: 1px solid red;
    width: 1200px;
    height: 600px;
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}

.tours-content {
    width: 50%;
    border: 1px solid gold;
    width: 600px;
    height: 400px;
    margin: 16px;
    margin-top: 6px;
    padding-left: 20px;

}

.tour-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.tour-list {
    width: 525px;
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tour-text {
    color: #131318b3;
    width: 577px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.btn-cmn {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.tour-img {
    width: 50%;
    height: px;
    border-radius: 16px;
    padding-left: 10px;

}


/* Choose your destination */
section {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.desti-title {
    color: #131318;
    width: 478px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.desti-text{
    color: #131318b3;
    width: 643px;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 0 auto;
padding-bottom: 40px;

}

.img-container {
    justify-content: center;
    align-items: center;
    margin-left: 200px;

}

.row {
    position: relative;
    text-align: center;
    color: #FFF;
    display: flex;
}

.img-container img {
    padding-right: 6px;
    
}

.img1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.img2 {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(-50%, -50%);

}

.img3 {
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);

}


.img4 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

}

.img5 {
    position: absolute;
    top: 60%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.img6 {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);

}

.img7{
    position: absolute;
    top: 44%;
    right: 34%;
    transform: translate(-50%, -50%);

}

/* Why choose us */
.card-section {
    border: 2px solid orangered;
    width: 60%;
    height: 70%;
    margin: 20px auto;
}

.two-div {
    display: flex;
}

.why-content {
    /* border: 2px solid yellow; */
    /* width: 800px;
    height: 80px; */
    background: #FFF;
    text-align: center;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.why-content p {
    width: 643px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 150px;
    color: #3f3f9ab3;

}

.why-hand {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #fbb56333;
    background: #886d4d0d;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

.why-world {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #9cebff33;
    background: #29cef60d;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

.why-best {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #e9444433;
    background: #e944440d;
    text-align: left;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 20px;
}

.why-best {
    margin-left: 180px;
}

/* Newsletter section */
.news {
    display: flex;
}

.news-content {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-text {
    color: #5A5A5D;
    width: 350px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.news-img {
    position: relative;
    width: 672px;
    height: 422px;
    border-radius: 16px;
}

.save {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    left: 340px;
    top: -190px;
}

.news-content input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #1313180d;

}

.news-content .btn-cmn {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

/* footer section */
.footer-title {
    border: 1px solid greenyellow;
    width: 1000px;
    height: 300px;
    margin: 30px auto;
    background: #1313180d;
    text-align: center;
    padding: 50px;
}

.foot-logo {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-title .btn-cmn {
    font-size: 32px;
    font-weight: 800;
}

.footer-text {
    color: #5A5A5D;
    width: 769px;
    height: 52px;
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 150px;
}

.foot {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    padding-top: 60px;
}

.foot-icon {
    border: 1px soli salmon;
    width: 174px;
    height: 24px;
    padding-top: 50px;
    margin: 0 auto;
    gap: 20px;


    /* padding-right: 3px; */
}

.bonus {
    border: 1px solid aqua;
    width: 800px;
    height: 300px;
}